- current_user.groups.each do |group|
  %div.chat-side__groups_list--group-name
    %p#sample
      = group.groupname
  %div.chat-side__groups_list--group-message
    - if group.messages.last.present?
      %p#good
        #{group.messages.last.body}
    - else
      %p#good
        メッセージがありません
