- @group.messages.each do |msg|
  %div.chat-main__body_list--message-name
    = msg.user.name
  %div.chat-main__body_list--message-time
    = msg.updated_at
  %div.clear
  %div.chat-main__body_list--message-body
    = msg.body
    - if msg.image?
      = image_tag msg.image_url(:thumb)
