.notification
  .alert
    チャットグループが作成されました。

.chat-side
  .chat-side__user
    .user__content
      .user__content--name
        %p#seo seo
      .user__content--nw
        %div
          = link_to "/" do
            %i.fa.fa-pencil-square-o
          = link_to "/" do
            %i.fa.fa-cog

  .chat-side__groups
    .groups__list
      .list__group
        = render partial: "group"

.class.chat-main

  .chat-main__header
    .chat-main__header__group
      .group--name
        Sample
      %button{type:"button"}
        Edit
      .clear
    .chat-main__header__members
      Members: seo neko

  .chat-main__body
    .chat-main__body__lists
      .list__message
        = render partial: "message"

  .chat-main__footer
    .chat-main__footer__form
      %form_for
        .text-with-icon
          %input{type:"text", name:"message", placeholder:"type a message"}
          .icon
            %i.fa.fa-picture-o
            %input{type:"file"}
          %input.submit{type:"submit", value:"SEND"}
