%div.notification
  %div.alert
    チャットグループが作成されました。

%div.chat-side
  %div.chat-side__user
    %div.user__content
      %div.user__content--name
        %p#seo seo
      %div.user__content--nw
        %div
          = link_to "/" do
            %i.fa.fa-pencil-square-o
          = link_to "/" do
            %i.fa.fa-cog

  %div.chat-side__groups
    %div.groups__list
      %div.list__group
        = render :partial => "group"

%div.class.chat-main

  %div.chat-main__header
    %div.chat-main__header__group
      %div.group--name
        Sample
      %button{type:"button"}
        Edit
      %div.clear
    %div.chat-main__header__members
      Members: seo neko

  %div.chat-main__body
    %div.chat-main__body__lists
      %div.list__message
        = render :partial => "message"

  %div.chat-main__footer
    %div.chat-main__footer__form
      %form
        %div.text-with-icon
          %input{type:"text", name:"message", placeholder:"type a message"}
          %div.icon
            %i.fa.fa-picture-o
            %input{type:"file"}
          %input.submit{type:"submit", value:"SEND"}
